<div fxLayout="column">

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex fxFlex="33">
      <input matInput placeholder="Identificación">
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Nombres">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="Apellidos">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Telefono 1">
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Telefono 2">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex="50">
      <input matInput placeholder="Direccion">
    </mat-form-field>
    <mat-form-field fxFlex="50">
      <mat-select placeholder="Ciudad">
        <mat-option value="1">Barranquilla</mat-option>
        <mat-option value="2">Medellin</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row-reverse" fxLayoutGap="20px">
    <button (click)="goBack()">go back</button>
  </div>

</div>