<div fxLayout="column">

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex fxFlex="33">
      <input matInput [(ngModel)]="client.identification" placeholder="Identificación" >
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input [(ngModel)]="client.firstName" matInput placeholder="Nombres">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input [(ngModel)]="client.lastName" matInput placeholder="Apellidos">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex="33">
      <input [(ngModel)]="client.telephone1" matInput placeholder="Telefono 1">
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input [(ngModel)]="client.telephone2" matInput placeholder="Telefono 2">
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field fxFlex="33">
      <input [(ngModel)]="client.address.address" matInput placeholder="Direccion">
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <mat-select [(ngModel)]="departmentIdSelected" (ngModelChange)="fillCitiesBySelectedDepartment($event)" placeholder="Departamento">
        <mat-option *ngFor="let d of departments" [value]="d.id">{{d.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex>
      <mat-select [(ngModel)]="client.address.cityID" [disabled]="!isDepartmentSelected" placeholder="Ciudad">
        <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row-reverse" fxLayoutGap="20px">
    <button (click)="saveClient()">Guardar</button>
    <button (click)="goBack()">Cancelar</button>    
  </div>

</div>