mat-sidenav-container {
  height: 100%;

  mat-sidenav.mat-sidenav {
    width: 260px;
    @include shadow-big-color(rgba(0,0,0,.42));

    mat-sidenav.mat-sidenav{
      background: $white;
    }  
    mat-toolbar.mat-toolbar{
      .brand-text{
        padding-left: 20px;
        text-transform: uppercase;
        font-size: $font-size-large;
        font-weight: $font-weight-default;
      }    
    }
    mat-divider.mat-divider{
      position: absolute;
      right: 10%;
      width: 80%;
    }    
    mat-nav-list.mat-nav-list {
      padding-top: 0;
      margin-top: 20px;
      a.mat-list-item {
        margin: 10px 15px;
        .mat-list-item-content{
          .mat-line{
            font-size: $font-size-base;
            font-weight: $font-weight-light;
          }
          .material-icons,
          .fa{
            color: #a9afbb;
          }
        }      
                      
      }
      a.mat-list-item.router-link-active{
        .mat-list-item-content{
          background-color: $red-500;
          @include shadow-big-color($red-500);
          border-radius: 3px;
        }
        .mat-list-item-content,
        .material-icons,
        .fa{
          color: $white;
        }
      }
    }
  }  

  mat-sidenav-content.mat-sidenav-content{
    .main-content{
      padding: 15px 20px;
    }
  }
}
