mat-sidenav-container {
  height: 100%;

  mat-sidenav.mat-sidenav, mat-toolbar.mat-toolbar {
    background: $white;
  }

  mat-toolbar.mat-toolbar{
    .brand-text{
      padding-left: 20px;
      text-transform: uppercase;
      font-size: $font-size-large;
      font-weight: $font-weight-default;
    }    
  }

  mat-divider.mat-divider{
    position: absolute;
    right: 10%;
    width: 80%;
    background-color: rgba(180,180,180, .3);
  }

  mat-sidenav.mat-sidenav {
    width: 260px;
    @include shadow-big-color(rgba(0,0,0,.42));
    mat-nav-list.mat-nav-list {
      padding-top: 0;
      margin-top: 20px;      
      a {
        margin: 10px 15px;        
        .mat-list-text .mat-line{
          font-size: $font-size-base;
          font-weight: $font-weight-light;
        }
        .material-icons,
        .fa{
          color: #a9afbb;
        }               
      }
      a.router-link-active{
        .mat-list-item-content{
          background-color: $red-500;
          @include shadow-big-color($red-500);
          border-radius: 3px;
        }
        .fa,
        .material-icons,        
        .mat-list-text .mat-line{
          color: $white;
        }
      }
    }

  }
}
