// Typography
$font-family-default: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

$headings-font-weight:    300 !default;
$font-weight-light:       300 !default;
$font-weight-default:     400 !default;
$font-weight-bold:        500 !default;
$font-weight-extra-bold:  700 !default;
$font-weight-ultra-bold:  900 !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1:            3.8em !default;
$font-size-h2:            2.6em !default;
$font-size-h3:            1.825em !default;
$font-size-h4:            1.3em !default;
$font-size-h5:            1.25em !default;
$font-size-h6:            1em !default;
$font-paragraph:          16px !default;
$font-size-navbar:        16px !default;
$font-size-small:         12px !default;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//---

/*
  display-4, display-3, display-2 and display-1 - Large, one-off headers, usually at the top of the page (e.g. a hero header).
  headline - Section heading corresponding to the <h1> tag.
  title - Section heading corresponding to the <h2> tag.
  subheading-2 - Section heading corresponding to the <h3> tag.
  subheading-1 - Section heading corresponding to the <h4> tag.
  body-1 - Base body text.
  body-2 - Bolder body text.
  caption - Smaller body and hint text.
  button - Buttons and anchors.
  input - Form input fields.
*/
$default-typography: mat-typography-config(
  $font-family: $font-family-default,
  /*
  $headline: mat-typography-level($font-size-h1, $line-height-base, $font-weight-light),
  $title: mat-typography-level(18px, $font-size-h2, $font-weight-light), 
  $subheading-2: mat-typography-level($font-size-h3, $line-height-base, $font-weight-light),
  $subheading-1: mat-typography-level($font-size-h4, $line-height-base $font-weight-light), 
  */  
  $body-1: mat-typography-level($font-size-base, $line-height-base, $font-weight-light)
);

@include angular-material-typography($default-typography);