//Principal container
.main-container {
  border:1px solid rgba(111, 111, 111, 0.50);
}

//SideNav
.main-sidenav {
  width: 200px;
  padding-top: 10px;
}

//Principal content
.main-content{
  box-sizing: border-box;
}

//Utils
.fill-remaining-space {
  flex: 1 1 auto;
}

//-----
$gray: #ededed;

.main-sidenav {
  fill: #737373;
}

h2 {
  font-weight: 400;
}

/*mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
} */
