<mat-toolbar class="toolbar-header" color="primary">
  <span>Loans Aplication</span>
  <mat-icon>menu</mat-icon>
  <span class="fill-remaining-space"></span>
  <span>Right Aligned Text</span>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <a matLine href="page1.html">Page 1</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <a matLine href="page1.html">Page 2</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <a matLine href="page1.html">Page 3</a>
      </mat-list-item>
    </mat-nav-list>
    <!--mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <a matLine href="...">{{ link }}</a>
        <button mat-icon-button (click)="showInfo(link)">
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list-->
  </mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>