//General reset
html, body, .mat-app-background, .main-container, .main-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

//Principal container
.main-container {
  border:1px solid rgba(111, 111, 111, 0.50);
}

//SideNav
.main-sidenav {
  width: 200px;
  padding-top: 10px;
}

//Principal content
.main-content{
  box-sizing: border-box;
}

//Utils
.fill-remaining-space {
  flex: 1 1 auto;
}

//-----
$gray: #ededed;

.main-sidenav {
  fill: #737373;
}

h2 {
  font-weight: 400;
}

mat-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}    

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

// Primary:       rgb(3,169,244);  #03A9F4  /MD Light Blue: 500
// Primary ligh:  rgb(2,119,189);  #B3E5FC  /MD-Light Blue: 100
// Primary Dark:  rgb(2,119,189);  #0277BD  /MD-Light Blue: 800

$my-theme-primary: mat-palette($mat-light-blue, 500, 100, 800);
$my-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn: mat-palette($mat-red); // The warn palette is optional (defaults to red).

// Create the theme object (a Sass map containing all of the palettes).
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.layout-app{
  @include angular-material-theme($my-theme);  
}

.layout-app .toolbar-header{
  background: mat-color($my-theme-primary, darker);
  color: #ffffff;
}