<mat-sidenav-container class="main-container">
  <mat-sidenav #mainSidenav class="main-sidenav" mode="side" opened="true">
    <mat-toolbar>
      <span class="brand-text">H&E Application</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" [routerLinkActive]="['router-link-active']">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span matLine>Dashboard</span>
      </a>
      <a mat-list-item [routerLink]="['/client']" [routerLinkActive]="['router-link-active']">
        <mat-icon matListIcon>people</mat-icon>
        <span matLine>Clientes</span>
      </a>
      <a mat-list-item [routerLink]="['/test']" [routerLinkActive]="['router-link-active']">
        <mat-icon matListIcon>build</mat-icon>
        <span matLine>Test</span>
      </a>
      <a mat-list-item [routerLink]="['/test']" [routerLinkActive]="['router-link-active']">
        <mat-icon matListIcon>build</mat-icon>
        <span matLine>Test</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar></mat-toolbar>
    <div class="main-content">
      <mat-card>
        <app-messages></app-messages>
        <router-outlet></router-outlet>    
      </mat-card>
    </div>    
  </mat-sidenav-content>
</mat-sidenav-container>