//@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// Primary:       rgb(3,169,244);  #03A9F4  /MD Light Blue: 500
// Primary ligh:  rgb(2,119,189);  #B3E5FC  /MD-Light Blue: 100
// Primary Dark:  rgb(2,119,189);  #0277BD  /MD-Light Blue: 800
$default-theme-primary: mat-palette($mat-light-blue, 500, 100, 800);
$default-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$default-theme-warn: mat-palette($mat-red); // The warn palette is optional (defaults to red).

// Create the theme object (a Sass map containing all of the palettes).
$default-theme: mat-light-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);


@mixin angular-toolbar-theme($theme) {  
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);  
    .mat-toolbar {            
      &.mat-primary-darker {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
        background: mat-color($primary, darker);  
      }
    }    
  }

/**************************************************/
  $font-size-base:          14px !default;
  $font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
  $font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
  
  $font-size-h1:            3.8em !default;
  $font-size-h2:            2.6em !default;
  $font-size-h3:            1.825em !default;
  $font-size-h4:            1.3em !default;
  $font-size-h5:            1.25em !default;
  $font-size-h6:            1em !default;
  $font-paragraph:          16px !default;
  $font-size-navbar:        16px !default;
  $font-size-small:         12px !default;

  $font-weight-base: 400 !default;
  $font-weight-bold:    500 !default;
  $font-weight-extra-bold: 700 !default;
  $font-weight-ultra-bold: 900 !default;

  $line-height-base:        1.428571429 !default; // 20/14
/**************************************************/

  $custom-typography: mat-typography-config(
    $font-family: 'Roboto, Helvetica, Arial, sans-serif',
    $headline: mat-typography-level($font-size-h1, 1.15em, $font-weight-base), /*h1*/
    $title: mat-typography-level($font-size-h2, $line-height-base, $font-weight-base), /*h2*/
    $subheading-2: mat-typography-level($font-size-base, $line-height-base, $font-weight-base), /*h3*/
    $subheading-1: mat-typography-level($font-size-h4, 1.4em, $font-weight-base), /*h4*/
    $body-1: mat-typography-level($font-size-base, $line-height-base, $font-weight-base)
  );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//.default-theme{
  //@include mat-core-theme($default-theme);
  @include angular-material-theme($default-theme);
  @include angular-toolbar-theme($default-theme);
  @include angular-material-typography($custom-typography);
//}
